*{
    margin: 5px 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-image: url(/3.jpg);
    background-repeat: no-repeat;
 
   height: 100px;
  

}
#navbar{
    display: flex;
    justify-content:space-evenly;

}
.logo h2{
    font-size:x-large;
    font-family: sans-serif;
    color:white;

}
.content h2{
    color:white;
}
ul li{
    
    list-style: none;
    font-family: system-ui;
    color:white;
}
.content h2{
    font-family: system-ui;
}
button{

    padding: 10px;
    width: 120px;
    border-radius: 10px;
    font-family: serif;
    font-size:large;
    border-style: none;
}
ul{
   display: flex;
   
   

}
a{
    color:white;
}
.list a{
    /* color: aqua; */
    padding: 18px;
    color:white;

    
}
.btn-1{
    padding:10px;
    border-radius: 10px;
    border-style: none;
    font-family: sans-serif;
    color:white;
}
.img img{
    width: 300px;
    height: 500px;
    margin-top: 140px;
}
.content{
    margin-top: 220px;
    padding:10px;
    
}
#home{
    display: flex;
    justify-content: center;
}